include material/button

if authenticated
    p Welcome
else
    +textButton('register')(
        hx-get='/users/register'
        hx-target='#app'
    )
    +raisedButton('login')(
        hx-get='/users/authenticate'
        hx-target='#app'
    )
