include material/button
-
    const label = 'Click me'
    const icon = 'bookmark'
    const _ = `on click
        increment :count
        get me.querySelector('.label')
        put 'Clicked: ' + :count into it
    `
+textButton(label)(_=_)
| 
+outlinedButton({ label })(_=_)
| 
+raisedButton({ label, icon })(_=_)
| 
+unelevatedButton({ label, icon: { icon, trailing: true } })(_=_)
| 
+outlinedButton({ icon })(_=_)
| 
+outlinedButton()(_=_)
