include /pug-material-design/button

#container
    p= url
    | This is the secret content.
    | 
    +outlinedButton('hide')(
        _=`
            init send showSecret to #model
            on click remove the closest #container
            then send hideSecret to #model
        `
        hx-get='/push/'
    )
