extends /../views/app
block main
    include /pug-material-design/button

    p#container
        | This is the secret content.
        if request.htmx
            | 
            +outlinedButton('hide')(
                _=`
                    init send showSecret to #model
                    on click remove the closest #container
                    then send hideSecret to #model
                `
                hx-get='/push/'
                hx-swap='none'
            )
