extends /../views/app
block main
    include /pug-material-design/button

    .p#container This is the secret content.
        | 
        //- /push is from https://github.com/wscherphof/fastify-http. It
        //- pushes the url to what follows it; here: /
        +outlinedButton('hide')(
            style="display: none"
            _=`
                init
                    show -- I stay hidden when no JavaScript
                    then send showSecret to #model
                end
                on click
                    remove the closest #container
                    then send hideSecret to #model
                end
            `
            hx-get='/push/'
            hx-swap='none'
        )
