extends /../views/app
block main
  include /pug-material-design/button

  #container.p This is the secret content.
    | &nbsp;
    //- /push is from https://github.com/wscherphof/fastify-http. It
    //- pushes the url to what follows it; here: /
    +outlinedButton("hide").script(
      _=`
          init send showSecret to #model
          on click remove the closest #container
          then send hideSecret to #model
      `,
      hx-get="/push/",
      hx-swap="none"
    )
