include ../material/textField
include ../material/button

form(
    hx-post='/users/authenticate'
    hx-target='#app'
)
    p: +filledTextField('email', 'email', 'email')
    p: +filledTextField('password', 'password', 'password')
    p
        +textButton('new password')(
            hx-get='/users/passwordchange'
            hx-target='#app'
        )
        | 
        +raisedButton('send')
