include ../material/textField
include ../material/button

form(
    hx-post='/users/password'
    hx-target='#app'
)
    p: +filledTextField('email', 'email', 'email')
    p: +filledTextField('password', 'password', 'password')
    p: +filledTextField('password2', 'confirm password', 'password')
    p: +outlinedButton('sign up')
