include ../material/textField

form(
    hx-post='/users'
    hx-target='#app'
)
    p: +mdc-text-field('email', 'email', 'email')
    p password
        br
        input(type='password', name='password')
    p confirm password
        br
        input(type='password', name='password2')
    p: button(type='submit') send
