form(
    hx-post='/users'
    hx-target='#app'
)
    p name
        br
        input(type="email", name="email")
    p password
        br
        input(type="password", name="password")
    p confirm password
        br
        input(type="password", name="password2")
    p: button(type="submit") send
