extends /../views/app
block main
  +post('/users/session')
    p: +mdc-text-field(name='email', label='email', type='email', filled)
    p: +mdc-text-field(
      name='password',
      label='password',
      type='password',
      filled
    )
    .p
      +mdc-button('new password')(form='change')
      | &nbsp;
      +mdc-button('sign in')(raised)
  +get('/users/password/change', 'main', true)#change
