extends /../views/app
include /pug-material-design/textField
include /pug-material-design/button

block app
    form(
        method='POST'
        action='/users'
        hx-target='main'
    )
        p: +filledTextField('email', 'email', 'email')
        p: +raisedButton('sign up')
