include /pug-material-design/textField
include /pug-material-design/button

form(
    hx-post='/users/signin'
)
    p: +filledTextField('email', 'email', 'email')
    p: +filledTextField('password', 'password', 'password')
    p
        +textButton('new password')(
            hx-get='/users/password/change'
            hx-target='main'
            hx-push-url='true'
        )
        | 
        +raisedButton('sign in')
