extends /../views/app
block main
  include /pug-material-design/textField
  include /pug-material-design/button

  +post('/users/password/change', 'main')
    p: +filledTextField('email', 'email', 'email')
    p: +raisedButton('send')
