include /pug-material-design/textField
include /pug-material-design/button

form(
    hx-post='/users/password/change'
    hx-target='main'
)
    p: +filledTextField('email', 'email', 'email')
    p: +raisedButton('send')
