extends /../views/app
block app
    include /pug-material-design/textField
    include /pug-material-design/button

    form(
        method='POST'
        action='/users/password/change'
        hx-target='main'
    )
        p: +filledTextField('email', 'email', 'email')
        p: +raisedButton('send')()
